<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="PDBDownloadFolder" value="c:\temp" />
    <add key="SQLBuildInfoUpdateURLs" value="https://raw.githubusercontent.com/arvindshmicrosoft/SQLCallStackResolver/master/lastupdated.txt;https://raw.githubusercontent.com/arvindshmicrosoft/SQLCallStackResolver/dev/lastupdated.txt"/>
    <add key="SQLBuildInfoURLs" value="https://raw.githubusercontent.com/arvindshmicrosoft/SQLCallStackResolver/master/sqlbuildinfo.json;https://raw.githubusercontent.com/arvindshmicrosoft/SQLCallStackResolver/dev/sqlbuildinfo.json"/>
  </appSettings>
</configuration>
